@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #f7f7f7;
  --color-text: #333;
  --color-link: #08548a;
}

html {
  font-size: 15px;
  line-height: 1.7;
}

body {
  color: var(--color-text);
  background-color: var(--color-background);
}

a {
  color: var(--color-link);
}

a:hover {
  text-decoration: underline;
}

.article-body {
  img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

@layer base {
  h1 {
    @apply text-3xl mt-2 font-bold;
  }

  h2 {
    @apply text-xl mt-8 mb-4 font-bold;
  }

  h3 {
    @apply text-base mt-6 mb-4 font-bold;
  }

  p {
    @apply my-4 leading-6;
  }

  img {
    @apply my-4;
  }

  ul {
    @apply list-disc px-4 ml-6;
  }

  blockquote {
    @apply ml-8 pl-4 border-l-4;
  }
}
