.header-title a {
  color: #000;
  text-decoration: none; }

article {
  border: 1px solid #ccc;
  margin-bottom: 5em;
  padding: 3em; }
  article img {
    max-width: 100%; }

.article-title a {
  color: #000;
  text-decoration: none; }
