<!doctype html>
<html>
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9XZH9K61N7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-9XZH9K61N7');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@ukstudio">
    <meta name="twitter:description" content="{{ content | striptags(true) | truncate }}">
    {%- if (title) -%}
    <meta name="twitter:title" content="{{ title }} - UKSTUDIO">
    <title>{{ title }} - UKSTUDIO</title>
    {%- else -%}
    <meta name="twitter:title" content="UKSTUDIO">
    <title>UKSTUDIO</title>
    {%- endif -%}


    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <link href="/assets/styles.css" rel="stylesheet">
    <script src="//instant.page/5.1.1" type="module" integrity="sha384-MWfCL6g1OTGsbSwfuMHc8+8J2u71/LA8dzlIN3ycajckxuZZmF+DNjdm7O6H3PSq"></script>
  </head>
  <body>
    <div class="container max-w-3xl min-w-80 mx-auto">
      <header class="py-4">
        <a href="/" class="font-extrabold text-3xl">UKSTUDIO</a>
      </header>
      <main>
        {{ content | safe }}
      </main>
    </div>
  </body>
</html>
