---
layout: layouts/base.njk
---
<section class="note-main-content">
  <h1 class="text-center">{{ title }}</h1>
  <ul class="list-none text-sm text-right py-2">
    <li>Published on {{ date | formatDate('YYYY-MM-DD')}}</li>
    <li>Updated on {{ updated | formatDate('YYYY-MM-DD')}}</li>
  </ul>
  <hr>
  {{ content | safe }}
</section>
{% include 'layouts/backlinks.njk' %}
