---
title: iPod touchを予約しました
---
<a href="http://www.amazon.co.jp/gp/redirect.html%3FASIN=B000IDHJ30%26tag=ukstudio0c-22%26lcode=xm2%26cID=2025%26ccmID=165953%26location=/o/ASIN/B000IDHJ30%253FSubscriptionId=1N9AHEAQ2F6SVD97BE02" title="Click and drag this image to the post editor"><img src="http://g-ec2.images-amazon.com/images/I/41eCukUobxL.jpg" width="500" /></a>

各所で話題のiPod touchですが、僕も16GBのやつをApple Storeから予約しました。Classicの160GBと迷ったんですが、無線LANやSafari、その他もろもろの機能の誘惑に負けました。出荷日まであと20日ぐらいあるのがなんともじれったい。

<a href="http://code.google.com/p/mobileterminal/">http://code.google.com/p/mobileterminal/</a>これ動くのかなぁ？
