---
title: 86世代あつまれー
---
ちょこちょこと一部で話題にあがってた同世代のエンジニアで集まってみようの件だけど、yuyarinさんがはてなグループを作ってくれました。

<a href="http://d.hatena.ne.jp/yuyarin/20071221/1198240756">IT＆IS系の'86世代でちょっと集まってみませんか？＠東京</a>
<a href="http://generation1986.g.hatena.ne.jp/yuyarin/20071230/1199018717">1986のはてなグループ作ったよー</a>
<a href="http://generation1986.g.hatena.ne.jp/">1986s</a>

現時点のメンバーはこんな感じ↓
<a href="http://generation1986.g.hatena.ne.jp/keyword/メンバー一覧">メンバー一覧</a>
まだまだ少ないので参加者求む。

<a href="http://twitter.com/_tad_/statuses/565676282">都市伝説と思われていたujihisaさん</a>もいるよ!

それにしても、年上だと思ってた人が結構いるんだよなぁ。なんか「若い」ってことを言い訳にできない気がした。
