---
title: Mitaka.rb meets Twitterに参加してきた + α
---
<a href='http://atnd.org/events/4085' target='_blank'>Mitaka.rb meets Twitter</a>に参加してきた。以前参加したのがMitaka.rbの初回で今回が一周年記念ということでもう1年たったのかという感じ。はやいものだ。

実は元々参加する予定はなかったのだけれど、ちょっと前に<a href='http://twitter.com/ysakaki' target='_blank'>榊</a>さん達と飲む機会にあってその時に「<a href='http://twitter.com/fshin2000' target='_blank'>@fshin2000</a>さん呼ぶんだけど話何聞きたい?」と聞かれ、好き勝手要望を出してたらいつのまにか参加する流れになっていたのでATNDの参加ボタンを押すことにした。にもかかわらず、今日は肝心のfshinさんの発表が終わる頃に到着したわけだけど。

なにはともあれ、今日はおいしい食事と楽しく色々な方と話が出来てよかった。主催の榊さん、スタッフ、発表された方々、それと会場提供の<a href='http://www.hi-famiglia.com/' target='_blank'>Cafe Hi Famiglia</a>さん、どうもありがとうございました。

ちょっと話が変わって少し暗い話。大して内容のある話でもないので適当に読み流してください。

今日のMitaka.rbで落札価格が3x万で落とされる云々の話を聞いた。具体的な規模は聞いていないけど、一般的に2〜3ヶ月かかる程度のものだったらしい。

3x万ってプログラマ１人雇うことすら出来ないじゃないか、採算どうやって取るんだと思って話を聞いていると、どうやらその落札者はあくまで「営業」として行なっているということらしい。つまり目的は落札してそこで売上をあげることではなく、その更に先にある「何か」なんだろう。つまり、赤字でも全く問題ない。ある意味でいうと投資みたいな感じなんだろうか。

この辺は推測なのだけど、赤字でも問題ないとは言え、わざわざ必要以上に赤字を出す必要もないので3x万という単価じゃ納品されるものもそんな大した出来じゃないだろう。でもきっと発注側の担当者はコストダウンしたということをきっと評価されるに違いない。そして今後もそこが発注する時は「以前同じような規模を3x万で作ってくれたよ」とか言いだすのかもしれない。あぁ、なんということだ。

基本的に僕は自分が体験したことのないことは、言い方が悪いけど話半分程度に聞いている。だからこの話も実際にそうだとしたらなんだかなーと言った程度のものである。とは言え、RubyのまつもとさんのTwitter上の<a href='http://twitter.com/yukihiro_matz/status/12914071155' target='_blank'>発言にもあったから</a>実際にあるんだろうな。

みんなこういう現状をどう受け入れていっているんだろう。
