---
title: 勉強会とかで話す時のモチベーション
---
<ul>
<li>その勉強会やコミュニティから得たものがあるので、恩返ししたい</li>
<li>主催者もしくは声をかけてくれた人にお世話になったことがあるので恩返ししたい</li>
<li>勉強会の目的・主旨に賛同し、何らかの協力をしたい</li>
<li>たまたま自分が自主的に調べていた・勉強していた話題だった</li>
<li>営業活動になりそう</li>
<li>資料作りの時間を含めた上で、ある程度満足できる謝礼・報酬がでる</li>
</ul>

ぐだぐだ言ったけど、最終的には気分である。
