---
title: GentooからFuntooに移行しました
date: 2013-12-27 03:57 UTC
tags: funtoo
---

p GentooからFuntooに移行した。#{link_to 'Funtoo Linux インストール講習会','http://esminc.doorkeeper.jp/events/3547'}から大分日が立ってしまった。

p インストール自体は#{link_to 'Funtoo Linux Installation', 'http://www.funtoo.org/Funtoo_Linux_Installation'}をそのまま実行。boot-updateのビルドだけ失敗したが、texinfo-5.1以上をmaskしたら解決。

p ネット関係はNetworkManagerが妙に不安定だったのでwicdを使うことにした。wicd-cursesがいい感じ。今のところ接続も安定している。

p X環境まわりは例のごとくXmonadで。GNOMEも一度入れたけど、結局使わないのでアンインストール。mix-inのGNOMEも余計なUSEフラグをつけて邪魔だったので使わないことにした。

p GNOMEを削除したのでGDMではなくSlimeを使うことにした。GDMとかstartxがxinitrcを読むのかxprofileを読むのかとかいっつも忘れる…

p その他GitやらRubyやら入れてひととおり終了。カーネルをバイナリで入れてるので起動が遅いけどカーネルのコンフィグでハマるのもダルいしとりあえずこのままで行く予定。
