---
title: ブログをWordPressからmiddlemanに移行しました
date: 2013-10-18 13:53 UTC
---

p 今まで当ブログはWordPressでブログを書いていたけれど、今回#{link_to 'middleman', 'http://middlemanapp.com/'}を使うことにした。特になにかが気に入ってmiddlemanを選んだわけでもないのだけど、しばらくはこれで運用してみようと思う。

p 運用はGithub Pageで行なうことにした。これで今まで中途半端に保持していたVPSを解約することができる。最近はIRCを全然使ってないからいいけど、なんかの機会に使うようになったらtiarraとかをどう運用するか考えなくちゃいけないなぁ。

p デザインやその他足りない機能は追々増やしていこうとおもいます。とりあえずRSSだけは用意した。

