---
title: Kensingtonのslimbladeを導入
date: 2014-03-05 05:23 UTC
tags: kensington
---

p ちょっと新しいマウスを捜してたのでこの機会にトラックボールに移行してみた。購入したのはKensingtonの#{link_to 'SlimBlade', 'http://www.amazon.co.jp/gp/product/B0024AFD42?ie=UTF8&camp=1207&creative=8411&creativeASIN=B0024AFD42&linkCode=shr&tag=ukstudio0c-22'}。

p 昔はLinuxで使うと上の2つのボタンが使えなかったみたいだけど、今はパッチがあたったようで問題なく使える。なぜか右奥がバックボタンなのに左奥がミドルボタンだけど。この辺のリマップはxorg.confあたりでいいのかな。あまり困りはしないのでとりあえずは特に設定を変えずに使ってみることにする。
